
<body>
    <header>
        <img src="../../../assets/logo/balut.svg" alt="logo" class="logo">
        <nav class="navbar">
           <button class="close"> <img src="./Icons/esquis.png" alt="close"/></button>
            <ul class="nav-list">
                <li><a routerLink="/gestion">Gestion Empleados</a></li>
                <li><a href="./novedades.html">Novedades ingreso</a></li>
                <li><a routerLink="/asistencia" >Asistencia del taller</a></li>
                <li><a href="./soporte.html">Soporte</a></li>
            </ul>
        </nav>
        <div class="options">
            <a href="./index.html"><img src="./Icons/salir.png" alt="salir" class="salir-icon"></a>
            <button class="menu"><i class="fa-solid fa-bars"></i></button>
        </div>
        
    </header>
    <div class="container">
        <div class="img-container">
            <img src="../../../assets/img/balut.png" alt="img-fondo">
        </div>
    </div>
    <footer class="footer">
        <p>© Ballut Hnos.</p>
    </footer>
</body>
